<style>
  * {
    font-family: Arial;
  }
</style>

<h1><%= @post.title %></h1>

<p><%= @post.body %></p>

<%= form_tag "/posts/#{@post.id}/update" do %>
    <p>Title</p>
    <input type="Text" name="title" value="<%= @post.title %>">
    <p>Description</p>
    <input type="Text" name="body" value="<%= @post.body %>">
    <p></p>
    <button>Submit</button>
<%end%>